* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Scriptina";
  src: url('./assets/fonts/SCRIPTIN.ttf');
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: "Avenir";
  src: url('./assets/fonts/AvenirLTStd-Roman.otf');
}

